@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

:root {
    --color-highlight: #0074D9;
    --color-white: #EEEEEE;
    --color-gray: #555759;
    --color-dark-gray: #2D3032;
    --color-black: #111111;

    --font-main: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--font-main);
    background-color: var(--color-black);
    overflow: hidden;
}

.big-text-background {
    display: flex;
    justify-content: center;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    color: var(--color-dark-gray);
    font-size: 100vh;
    font-weight: 900;
    letter-spacing: 5vw;
}
.big-text-background :nth-child(2) {
    text-transform: lowercase;
}

.title-sign {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-sign :nth-child(1) {
    display: block;
    width: 100%;

    padding: 20px 40px;
    border: solid 4px var(--color-white);
    
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 1em;
    margin-right: -.98em;
    text-align: center;
}

